extends ../views/base.pug

block scripts
        script(src='/static/index.js')

block style 
    style 
        include ../static/style.css 
 
block content 
        
    section#introsection 
        div Welcome to Shalini's Art  Academy
            div.small Draw Together 
    section#missionSection
        h2 Our Mission
        div.card
            h3 Oil Painting 
            div.card-box
                div.card-img
                    img(src="/static/img/1.jpg")
                div.card-content
                    p You can learn Oil painting for free
        div.card
            h3 WaterColour Painting 
            div.card-box
                div.card-img
                    img(src="/static/img/2.jpg")
                div.card-content
                    p You can learn WaterColour painting for free
        div.card
            h3 Sketches 
            div.card-box
                div.card-img
                    img(src="/static/img/3.jpg")
                div.card-content
                    p You can learn Sketches for free
    section#sponsorsSection
        h2 Our Sponsors
        div#sponsors     
            img(src= "/static/img/img1.png", alt= "Sponsor Image", class= "spImage")
            img(src= "/static/img/img2.png", alt= "Sponsor Image", class= "spImage")
            img(src= "/static/img/img3.png", alt= "Sponsor Image", class= "spImage")
