/* css reset */
*{
    margin: 0;
    padding: 0;
}

/* CSS Variables */
:root{
    --navbar-height: 59px
}

/* Navigation bar */
#navbar{
    display: flex;
    align-items: center;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
/*  Navigation bar:logo and image */
#logo{
margin: 34px 45px;
}

#logo img{
height: 50px;
width: 50px;
}
/*  Navigation bar:List styling */
#navbar{
    position: relative;
}
#navbar ul{
    display: flex;
}


#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
    font-family: 'Pridi', serif;
}

#navbar ul li a{
    color: rgb(255, 255, 255);
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bolder;
}
#navbar ul li a:hover{
    color: rgb(0, 0, 0);
    background-color: white;
}

/* HOME section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height:693px;
    justify-content: center;
    align-items: center;
   
}
#home::before{
    content: "";
    background: url('../img/giraffe.jpg'); 
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}
#home h1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Pridi', serif;
}
#home p{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Pridi', serif;
}
#services-container.h-primarycenter{
    font-size: 23px;
}
/* services section */
#services{
    margin: 34px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
}
#services .box img{
    height: 160px;
    margin: auto;
    display: block;
}
#services{}
#services{}
#services{}


/* utiliy classes */
.h-primary{
    font-size: 4.8rem;
    padding: 12px;
}
.h-secondary{
    font-size: 2.8rem;
    padding: 12px;
}
.btn{
    padding: 12px 20px;
    border: 2px solid white;
    background-color:brown ;
    color: white;
    margin: 20px;
    font-size: 1.5rem;
    align-content: center;
    border-radius: 9px;
    cursor: pointer;
}
.center{
    text-align: center;
}