doctype html
html
  head
    style
      include ../static/style.css
  body
    nav#navbar
        ul 
        div#logo 
         img(src="/static/img/2.png")
         | SDA
        li #[a(href="/") Home]
        li #[a(href="/") About]
        li #[a(href="/") Services]
        li #[a(href="/") Class Info]
        li #[a(href="/") Contact Us]

    section#introsection 
        div  Welcome to Shalini's Dance Academy 
        div.medium Dance Is Life.
        div.small Live Learn Dance

    section#Missionsection 
     h2 Our Mission
     div.card 
        h1 Dance Perfection 
        div.card-box 
          div.card-img 
            img(src= "/static/img/3.png")
          div.card-content 
            p this is the best dance academy    
     div.card 
        h1 Dance the way you like  
         div.card-box 
          div.card-img 
            img(src= "/static/img/2.png")
          div.card-content 
            p this is the best dance academy       
     div.card 
        h1 Expert Teaching 
         div.card-box 
          div.card-img 
            img(src= "/static/img/1.png")
          div.card-content 
            p this is the best dance academy      

    section#sponsorssection 
        | Our Sponsors 
        div#sponsors 
          img(src="/static/img/4.png", alt="Sponsor Image", class="spImages")
          img(src="/static/img/5.png", alt="Sponsor Image", class="spImages")
          img(src="/static/img/6.png", alt="Sponsor Image", class="spImages")

    footer#footer 
        | Copyright © 2022 ShaliniDanceAcademy.com | All Rights Reserved       

    script
      include ../static/index.js